@import ("reset.css");

body {
	background-color: #fff;
	margin: 0;
}

#title {
	font: 24px/120% "Monaco", "Courier New", serif;
}

#wrapper {
	margin: 20px auto;
	width: 800px;
}

#canvas {
	border: 2px solid #333;
	display: none;
}
