@import ("reset.css");

body {
	background-color: #fff;
	margin: 0;
	font-family: "Monaco", "Courier", monospace;
}

#title {
	font: 24px/100% "Monaco", "Courier", monospace;
	padding-bottom: 13px;
}

#wrapper {
	margin: 20px auto;
	width: 800px;
}

#about {
	
}

#canvas_wrapper {
	width: 800px;
	height: 500px;
}

#recent_changes {
	background-color: #efefef;
	-webkit-border-radius: 5px;
	border: 2px solid #666;
	padding: 6px;
	margin-bottom: 18px;
}

#things { 
	background-color: #efefef;
	-webkit-border-radius: 5px;
	border: 2px solid #666;
	padding: 6px;
	margin-bottom: 18px;
}

#changes {
	white-space: pre-wrap;
}

#canvas {
	border: 2px solid #333;
	display: none;
}

p {font: 13px/150% monospace; }
h3 { margin: 0em; }
.small_text { font-size: 10px; }