@import ("reset.css");

body {
	background-color: #fff;
	margin: 0;
	font-family: "Monaco", "Courier", serif;
}

#title {
	font: 24px/100% "Monaco", "Courier", serif;
}

#wrapper {
	margin: 20px auto;
	width: 800px;
}

#about {
	
}

#canvas_wrapper {
	width: 800px;
	height: 500px;
}

#recent_changes {
	background-color: #efefef;
	-webkit-border-radius: 5px;
}

#changes {
	white-space: pre-wrap;
}

#canvas {
	border: 2px solid #333;
	display: none;
}

p { font-size: 13px; }